<!DOCTYPE html>
<html ng-app="calculatorApp">
    <head>Calculator App</head>
    
    <script src='angular.js'></script>
    <script src='app.js'></script>
<body>

<h1>Calculator Application</h1>

<div ng-controller="CalculatorCtrl as ctrl">
        <p ng-bind="timeString"></p>

<input type="text" ng-model="ctrl.input1"></input>
<span ng-bind="ctrl.selectedOperation"></span>
<input type="text" ng-model="ctrl.input2"></input>
<button ng-click="ctrl.computeResult()">=</button>
<span ng-bind="ctrl.resultValue"></span>
<p>
    Choose Operation:
    <button ng-click="ctrl.buttonClicked('+')">+</button>
    <button ng-click="ctrl.buttonClicked('-')">-</button>
    <button ng-click="ctrl.buttonClicked('*')">*</button>
    <button ng-click="ctrl.buttonClicked('/')">/</button>
</p>


    </div>
    
    <script>
        

    </script>




</body>
</html>
